body,html {
    height: 100%;
	box-sizing: border-box;
    background: rgba(108, 117, 125,0.45);
}

#mainContainer {
    overflow: hidden;
    margin: 0 auto;
}

#nav {
    padding-left: 15px;
    padding-bottom: 2px;
	background-color: #595959;
}

.creators {
    color: white;
    font-size: 12px;
    padding-top: 0;
}

#selection {
    text-align: center;

}

#submit {
    display: block;
	font-size: 22px;
    padding: 15px;
    margin: 70px auto 0;
    width: 350px;
    box-shadow: none;
    border: none;
	
}

.text-outline {
	color: white;
    text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;  
}

#skyline {
	padding-top: 20px;
    background-image:url("resources/skyline.jpg");
    background-position: center;
	padding-bottom: 110px;
	background-repeat: no-repeat;
	background-size: cover;
}

.mr-md {
    margin-bottom:2%;
}

#form {
    padding: 15px;
}

#options {
    padding: 10px;
	width: 50%;
}

#first {
    background: #b2b2b2;
}

#first, #second {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius:10px;
}

.header {
    background: #753a00;
    color: white;
    text-align: center;
    width: 100%;
    margin-right: 25px;
    border-radius:5px;
}

#first h2, #second h2 {
    padding-right: 20px;
    margin: 0;
}

#first p, #second p {
    padding: 15px;
}

#second {
    background: #ffffff;
}

#second h2 {

}

.wrapper {
	display:none;
	margin: 0 auto;
    margin-top: 27px;
    width: 75%;
    background: #3f3f3f;
    padding-top: 40px;

}

#footer {
	.display:none;
	background: rgba(255,255,255,0.6);
	margin-top: 60px;
	padding-top: 20px;
	height: 200px;
	border: 1px solid black;
}

#footer h3 {
	padding-bottom: 25px;
}


.w-75 {
	width: 75%;
}

.imageCarousel {
	width: 50%;
	text-align: center;
}